textarea {
    resize:none
}
#circular-image {
  border-radius:  50%;
  margin: 20px 0 20px 0;
  width: 75px;
  height: 75px;
}

#statuses {
	background-color: #cce6ff;
	padding: 10px;
}

#space{
	padding-top: 2px;
}

#input-list{
	background-color: #cce6ff;
}

#name{
	font-size: 25px;
}

#msg{
	font-size: 30px;
}

#time{
	font-size: 13px;
}