{% extends "app_status/layout/base.html" %}

{% block content %}

<!--
<style>
.circular-image {
  border-radius:  50%;
  margin: 20px 0 20px 0;
  width: 100px;
  height: 100px;
}
} 
</style>
-->

<!--
<h1 class="main-title">TODOLIST</h1>
-->
<section name="input-list" id="input-list">
    <div class="container">
        <form id="form" method="POST" action="{% url 'app_status:add_status' %}" style="padding-bottom: 50px">
            <h2>Update Status</h2>
            {% csrf_token %}
            {{ message_form }}
            <input id="submit" type="submit" class="btn btn-lg btn-block btn-info" value="Post">
        </form>
    </div>
</section>

<section name = "my-status" id="my-status">
    {% for data in status %}
        <div class="flex-item" style="padding: 10px" id="statuses">
            <div style="margin-left: 100px" id = "name">
                <img src="http://www.freeiconspng.com/uploads/msn-people-person-profile-user-icon--icon-search-engine-16.png" id="circular-image"> 
                <strong>{{author}}</strong>
            </div>

            <div style="margin-left: 100px" id = "msg">
                {{data.message}}
            </div>

            <div style="margin-left: 100px" id = "time">
                {{ data.created_date }}
            </div>
        </div>
        
        <div id="space">
            {{ " " }}
        </div>
    {% endfor %}
</section>

{% endblock %}        
